:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
  "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
  "Source Han Sans CN", sans-serif;
  }
  .main-container {
  overflow: hidden;
  }
  .main-container,
  .main-container * {
  box-sizing: border-box;
  }
  input,
  select,
  textarea,
  button {
  outline: 0;
  }
  .main-container {
  position: relative;
  width: 1920px;
  height: 3061px;
  margin: 0 auto;
  font-size: 0px;
  background: #ffffff;
  }
  .text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 370px;
  height: 103px;
  margin: 114px 0 0 138px;
  color: #000000;
  font-family: Quicksand, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  z-index: 52;
  }
  .text-2 {
  display: block;
  position: relative;
  height: 43.2px;
  margin: 131px 0 0 380px;
  color: #222938;
  font-family: Quicksand, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 43.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 2;
  }
  .box {
  position: relative;
  width: 1256px;
  height: 41px;
  margin: 16.8px 0 0 381px;
  z-index: 7;
  }
  .text-3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 41px;
  top: 0;
  left: 1014px;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 40.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
  }
  .box-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 789.781px;
  height: 41px;
  top: 0;
  left: 0;
  z-index: 5;
  }
  .text-4 {
  flex-shrink: 0;
  position: relative;
  height: 40.8px;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 40.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
  }
  .text-5 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 0px;
    top: -15px;
    right: -502px;
    color: #222938;
    font-family: Open Sans, var(--default-font-family);
    font-size: 24px;
    font-weight: 300;
    line-height: 27.2px;
    text-align: left;
    white-space: nowrap;
    z-index: 4;
  }
  .section {
  position: relative;
  width: 1202.596px;
  height: 33.29px;
  margin: -6px 0 0 381px;
  z-index: 8;
  }
  .text-6 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 27.2px;
  top: 0;
  left: 0;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
  }
  .text-7 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 27.2px;
  top: 6px;
  left: 504px;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
  }
  .text-8 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 27.2px;
  top: 6.09px;
  left: 1014px;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
  }
  .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1259px;
  height: 204px;
  margin: 9.71px 0 0 381px;
  z-index: 40;
  }
  .img {
  flex-shrink: 0;
  position: relative;
  width: 245px;
  height: 200px;
  background: url()
  no-repeat center;
  background-size: cover;
  z-index: 32;
  }
  .img-2 {
  flex-shrink: 0;
  position: relative;
  width: 245px;
  height: 200px;
  background: url(./assets/images/ddd4ebeae1e5fc5b3e8ed0055b0d8d01b2517e37.png)
  no-repeat center;
  background-size: cover;
  z-index: 33;
  }
  .img-3 {
  flex-shrink: 0;
  position: relative;
  width: 245px;
  height: 200px;
  background: url(./assets/images/ddd4ebeae1e5fc5b3e8ed0055b0d8d01b2517e37.png)
  no-repeat center;
  background-size: cover;
  z-index: 40;
  }
  .box-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 789.781px;
  height: 40.8px;
  margin: 59px 0 0 381px;
  z-index: 37;
  }
  .text-9 {
  flex-shrink: 0;
  position: relative;
  height: 40.8px;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 40.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 37;
  }
  .text-a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 0px;
    top: -5px;
    right: 53px;
    color: #222938;
    font-family: Open Sans, var(--default-font-family);
    font-size: 24px;
    font-weight: 300;
    line-height: 27.2px;
    text-align: left;
    white-space: nowrap;
    z-index: 4;
  }
  .wrapper-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 712px;
  height: 27px;
  margin: 0.2px 0 0 381px;
  z-index: 38;
  }
  .text-b {
  flex-shrink: 0;
  position: relative;
  height: 27px;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 38;
  }
  .text-c {
  flex-shrink: 0;
  position: relative;
  right: 15px;
  height: 27px;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 35;
  }
  .box-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 749px;
  height: 200px;
  margin: 14px 0 0 381px;
  z-index: 39;
  }
  .pic {
  flex-shrink: 0;
  position: relative;
  width: 245px;
  height: 200px;
  background-image: url(Hjemmeside12-03\assets\images\rectangle-1.png)
  no-repeat center;
  background-size: cover;
  z-index: 39;
  }
  .img-4 {
  flex-shrink: 0;
  position: relative;
  width: 245px;
  height: 200px;
  background: url(./assets/images/ddd4ebeae1e5fc5b3e8ed0055b0d8d01b2517e37.png)
  no-repeat center;
  background-size: cover;
  z-index: 36;
  }
  .group {
  position: relative;
  width: 1920px;
  height: 146px;
  margin: 45px 0 0 0;
  background: #94d3ca;
  z-index: 9;
  overflow: hidden;
  }
  .box-5 {
  position: relative;
  width: 467px;
  height: 27px;
  margin: 16px 0 0 738px;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 10;
  }
  .text-d {
  position: relative;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  text-align: left;
  }
  .text-e {
  position: relative;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 27.2px;
  text-align: left;
  }
  .section-2 {
  position: relative;
  width: 552px;
  height: 27px;
  margin: 10px 0 0 718px;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 11;
  }
  .text-f {
  position: relative;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  text-align: left;
  }
  .text-10 {
  position: relative;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 27.2px;
  text-align: left;
  }
  .wrapper-3 {
  position: relative;
  width: 797px;
  height: 27px;
  margin: 5px 0 0 622px;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 12;
  }
  .text-11 {
  position: relative;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  text-align: left;
  }
  .text-12 {
  position: relative;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 27.2px;
  text-align: left;
  }
  .text-13 {
  display: block;
  position: relative;
  height: 43.2px;
  margin: 98px 0 0 380px;
  color: #222938;
  font-family: Quicksand, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 43.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
  }
  .section-3 {
  position: relative;
  width: 1171.982px;
  height: 40.8px;
  margin: 22.713px 0 0 380px;
  z-index: 29;
  }
  .text-14 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 40.8px;
  top: 0;
  left: 0;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 40.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
  }
  .text-15 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 40.8px;
  top: 0;
  left: 507.5px;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 40.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
  }
  .text-16 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 40.8px;
  top: 0;
  left: 1015px;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 40.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 29;
  }
  .group-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1107.452px;
  height: 30.1px;
  margin: 0.3px 0 0 380px;
  z-index: 24;
  }
  .text-17 {
  flex-shrink: 0;
  position: relative;
  height: 27.2px;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 24;
  }
  .text-18 {
  flex-shrink: 0;
  position: relative;
  height: 27.2px;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 15;
  }
  .text-19 {
  flex-shrink: 0;
  position: relative;
  height: 27.2px;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 20;
  }
  .wrapper-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1260px;
  height: 200.087px;
  margin: 11.8px 0 0 380px;
  z-index: 44;
  
  }
  .img-5 {
  position: absolute;
  width: 245px;
  height: 200px;
  top: 0;
  left: 0;
  background: url(./assets/images/ddd4ebeae1e5fc5b3e8ed0055b0d8d01b2517e37.png)
  no-repeat center;
  background-size: cover;
  z-index: 42;
  }
  .pic-2 {
  position: absolute;
  width: 245px;
  height: 200px;
  top: 0;
  left: 1015px;
  background: url(./assets/images/ddd4ebeae1e5fc5b3e8ed0055b0d8d01b2517e37.png)
  no-repeat center;
  background-size: cover;
  z-index: 44;
  }
  .pic-3 {
  position: absolute;
  width: 245px;
  height: 200px;
  top: 0.09px;
  left: 507.5px;
  background: url(./assets/images/ddd4ebeae1e5fc5b3e8ed0055b0d8d01b2517e37.png)
  no-repeat center;
  background-size: cover;
  z-index: 43;
  }
  .wrapper-5 {
  position: relative;
  width: 1271.429px;
  height: 41.087px;
  margin: 23.913px 0 0 380px;
  z-index: 25;
  }
  .text-1a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 40.8px;
  top: 0;
  left: 1015px;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 40.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
  }
  .text-1b {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 40.8px;
  top: 0.09px;
  left: 0;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 40.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 25;
  }
  .text-1c {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 41px;
  top: 0.09px;
  left: 507px;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 40.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
  }
  .wrapper-6 {
  position: relative;
  width: 1107.452px;
  height: 34.197px;
  margin: 0px 0 0 380px;
  z-index: 26;
  }
  .text-1d {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 27.2px;
  top: 0;
  left: 1015px;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
  }
  .text-1e {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 27.2px;
  top: 0.01px;
  left: 507.5px;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
  }
  .text-1f {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 27.2px;
  top: 6.997px;
  left: 0;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 26;
  }
  .section-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  width: 1260px;
  height: 200.087px;
  margin: 4.713px 0 0 380px;
  z-index: 48;
  }
  .pic-4 {
  position: absolute;
  width: 245px;
  height: 200px;
  top: 0;
  left: 1015px;
  background: url(./assets/images/ddd4ebeae1e5fc5b3e8ed0055b0d8d01b2517e37.png)
  no-repeat center;
  background-size: cover;
  z-index: 48;
  }
  .img-6 {
  position: absolute;
  width: 245px;
  height: 200px;
  top: 0.09px;
  left: 0;
  background: url(./assets/images/ddd4ebeae1e5fc5b3e8ed0055b0d8d01b2517e37.png)
  no-repeat center;
  background-size: cover;
  z-index: 41;
  }
  .img-7 {
  position: absolute;
  width: 245px;
  height: 200px;
  top: 0.09px;
  left: 507.5px;
  background: url(./assets/images/ddd4ebeae1e5fc5b3e8ed0055b0d8d01b2517e37.png)
  no-repeat center;
  background-size: cover;
  z-index: 45;
  }
  .section-5 {
  position: relative;
  width: 1179.237px;
  height: 40.8px;
  margin: 63px 0 0 380px;
  z-index: 30;
  }
  .text-20 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 40.8px;
  top: 0;
  left: 0;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 40.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 27;
  }
  .text-21 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 40.8px;
  top: 0;
  left: 507.5px;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 40.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
  }
  .text-22 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 37.4px;
  top: 1px;
  left: 1015px;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 37.4px;
  text-align: left;
  white-space: nowrap;
  z-index: 30;
  }
  .wrapper-7 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1113.121px;
  height: 27.2px;
  margin: -3.8px 0 0 380px;
  z-index: 31;
  }
  .text-23 {
  flex-shrink: 0;
  position: relative;
  height: 27.2px;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 28;
  }
  .text-24 {
  flex-shrink: 0;
  position: relative;
  height: 27.2px;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
  }
  .text-25 {
  flex-shrink: 0;
  position: relative;
  height: 27.2px;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 31;
  }
  .wrapper-8 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1260px;
  height: 200px;
  margin: 11.8px 0 0 380px;
  z-index: 49;
  }
  .pic-5 {
  flex-shrink: 0;
  position: relative;
  width: 245px;
  height: 200px;
  background: url(./assets/images/ddd4ebeae1e5fc5b3e8ed0055b0d8d01b2517e37.png)
  no-repeat center;
  background-size: cover;
  z-index: 47;
  }
  .pic-6 {
  flex-shrink: 0;
  position: relative;
  width: 245px;
  height: 200px;
  background: url(./assets/images/ddd4ebeae1e5fc5b3e8ed0055b0d8d01b2517e37.png)
  no-repeat center;
  background-size: cover;
  z-index: 46;
  }
  .img-8 {
  flex-shrink: 0;
  position: relative;
  width: 245px;
  height: 200px;
  background: url(./assets/images/ddd4ebeae1e5fc5b3e8ed0055b0d8d01b2517e37.png)
  no-repeat center;
  background-size: cover;
  z-index: 49;
  }
  .text-26 {
  display: block;
  position: relative;
  height: 40.8px;
  margin: 35px 0 0 380px;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 40.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 50;
  }
  .text-27 {
  display: block;
  position: relative;
  height: 27.2px;
  margin: 0.75px 0 0 380px;
  color: #222938;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 51;
  }
  .pic-7 {
  position: relative;
  width: 245px;
  height: 200px;
  margin: 16.25px 0 0 380px;
  background: url(./assets/images/ddd4ebeae1e5fc5b3e8ed0055b0d8d01b2517e37.png)
  no-repeat center;
  background-size: cover;
  }
  .section-6 {
  position: relative;
  width: 1920px;
  height: 347px;
  margin: 82px 0 0 0;
  z-index: 69;
  }
  .wrapper-9 {
  position: absolute;
  height: 347px;
  top: 0;
  right: 0;
  left: 5px;
  background: #eeeeee;
  z-index: 53;
  }
  .wrapper-10 {
    display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1260px;
  height: 200px;
  margin: 11.8px 0 0 380px;
  z-index: 50;
  }
  .section-7 {
  position: absolute;
  width: 1242.27px;
  height: 53.5px;
  top: 41.5px;
  left: 390px;
  z-index: 67;
  }
  .text-28 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 0;
  left: 0;
  color: #444444;
  font-family: Quicksand, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 55;
  }
  .text-29 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 0;
  left: 292.5px;
  color: #444444;
  font-family: Quicksand, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 60;
  }
  .text-2a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 0;
  left: 585px;
  color: #444444;
  font-family: Quicksand, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 64;
  }
  .wrapper-a {
  position: absolute;
  width: 364.77px;
  height: 43px;
  top: 50%;
  left: 877.5px;
  background: #94d3ca;
  border: 2px solid #94d3ca;
  transform: translate(0, -37.79%);
  z-index: 67;
  }
  .text-2b {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 317.093px;
  height: 14px;
  top: calc(50% - 8.5px);
  left: 22px;
  color: #000000;
  font-family: Quicksand, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.4px;
  z-index: 68;
  }
  .section-8 {
  position: absolute;
  width: 844.931px;
  height: 186.55px;
  top: 76px;
  left: 390px;
  z-index: 66;
  }
  .text-2c {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: 0;
  left: 585px;
  color: #444444;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 27.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 65;
  }
  .text-2d {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 119.89px;
  height: 54.975px;
  top: 0.4px;
  left: 0;
  color: #444444;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27.2px;
  text-align: left;
  text-overflow: initial;
  z-index: 56;
  overflow: hidden;
  }
  .box-6 {
  position: absolute;
  width: 205.83px;
  height: 54.975px;
  top: 0.4px;
  left: 292.5px;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27.2px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 61;
  }
  .text-2e {
  position: relative;
  color: #444444;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27.2px;
  text-align: left;
  }
  .text-2f {
  position: relative;
  color: #444444;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 27.2px;
  text-align: left;
  }
  .wrapper-b {
  position: absolute;
  width: 259.931px;
  height: 81.6px;
  top: 39.075px;
  left: 585px;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27.2px;
  text-align: left;
  z-index: 66;
  }
  .text-30 {
  position: relative;
  color: #444444;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27.2px;
  text-align: left;
  }
  .text-31 {
  position: relative;
  color: #444444;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 27.2px;
  text-align: left;
  }
  .text-32 {
  position: relative;
  color: #444444;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27.2px;
  text-align: left;
  }
  .text-33 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: 66px;
  left: 0;
  color: #444444;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 27.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 57;
  }
  .text-34 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 66px;
  left: 292px;
  color: #444444;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 62;
  }
  .section-9 {
  position: absolute;
  width: 212.725px;
  height: 81.6px;
  top: 104.95px;
  left: 0;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27.2px;
  text-align: left;
  z-index: 58;
  }
  .text-35 {
  position: relative;
  color: #444444;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27.2px;
  text-align: left;
  }
  .text-36 {
  position: relative;
  color: #444444;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 27.2px;
  text-align: left;
  }
  .text-37 {
  position: relative;
  color: #444444;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27.2px;
  text-align: left;
  }
  .text-38 {
  position: relative;
  color: #444444;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 27.2px;
  text-align: left;
  }
  .box-7 {
  position: absolute;
  height: 84px;
  top: 263px;
  right: 5px;
  left: 0;
  background: #94d3ca;
  z-index: 69;
  }
  .text-39 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: 29px;
  left: 390px;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 27.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 74;
  }
  .group-3 {
  position: absolute;
  height: 24.91px;
  top: 30px;
  right: 390px;
  left: 1365px;
  z-index: 70;
  overflow: hidden;
  }
  .group-4 {
  position: absolute;
  width: 165px;
  height: 24.91px;
  top: 0;
  left: 0;
  z-index: 71;
  overflow: hidden;
  }
  .wrapper-c {
  position: relative;
  width: 165px;
  height: 24.91px;
  margin: 0 0 0 0;
  z-index: 72;
  overflow: hidden;
  }
  .img-9 {
  position: relative;
  width: 162.803px;
  height: 22.502px;
  margin: 1.195px 0 0 1.09px;
  background: url(./assets/images/9fe9d7e3-e8b3-4b6c-9a39-6149cfdfaf94.png)
  no-repeat center;
  background-size: 100% 100%;
  z-index: 73;
  }
  .pic-8 {
  position: absolute;
  width: 1920px;
  height: 213px;
  top: 121px;
  left: 0;
  background: url(.\assets\images\image-1.png)
  no-repeat center;
  background-size: cover;
  z-index: 1;
  }